@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutLogin";
}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mt-5">
            <div class="text-center">
                <h1>Educational Platform</h1><br>
            </div>
            <div class="card bg-dark text-light">
                <div class="card-header text-center">
                    <strong>Login</strong>
                </div>
                <div class="card-body">
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                            <button style="position: absolute; top: 0.7rem; right: 0; padding: 0.5rem 1rem;" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form asp-controller="Account" asp-action="Login" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input class="type="hidden></input>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="text" class="form-control shadow-none" placeholder="email@gmail">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input asp-for="Password" type="password" class="form-control shadow-none" placeholder="Digite sua senha">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                        <p><br>Ainda não possui uma conta? <a asp-controller="Account" asp-action="Register">clique aqui!</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>