@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLogin";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mt-5">
            <div class="text-center">
            </div>
            <div class="card bg-dark text-light">
                <div class="card-header text-center">
                    <strong>Cadastro</strong>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label for="FirstName" class="form-label">Nome</label>
                            <input asp-for="FullName" type="text" class="form-control shadow-none" placeholder="Nome">
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>
                        <div class="mb-3">
                            <label for="BirthDate" class="form-label">Data de Nascimento</label>
                            <input asp-for="BirthDate" type="date" class="form-control shadow-none" placeholder="01/01/2001">
                            <span class="text-danger" asp-validation-for="BirthDate"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Email" class="form-label">Email</label>
                            <input asp-for="Email" type="email" class="form-control shadow-none" placeholder="exemplo@gmail.com">
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Phone" class="form-label">Celular</label>
                            <input asp-for="Phone" type="tel" class="form-control shadow-none" placeholder="1197422-0093">
                            <span class="text-danger" asp-validation-for="Phone"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Passowrd" class="form-label">Senha</label>
                            <input asp-for="Password" type="password" class="form-control shadow-none" placeholder="Digite sua senha">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="mb-3">
                            <label for="ConfirmPassword" class="form-label">Confirmar a senha</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control shadow-none" placeholder="Repita a senha">
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>