@model CourseModel

@{
    ViewData["Title"] = "Deletar Curso";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 mt-5">
            <div class="text-center">
            </div>
            <div class="card bg-dark text-light">
                <div class="card-header text-center">
                    <strong>Painel de Edição</strong>
                </div>
                <div class="card-body">
                    <form asp-controller="Course" asp-action="Delete" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for=Id/>
                        <div class="mb-3">
                            <label for="Title" class="form-label">Título</label>
                            <input asp-for="Title" type="text" class="form-control shadow-none" placeholder="Digite um título" disabled>
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="mb-3">
                            <label for="Title" class="form-label">Descrição</label>
                            <textarea asp-for="Description" class="form-control shadow none" rows="3" placeholder="Descrição do curso" disabled></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>